<% layout('admin-layout') -%>


<%stylesheet('/css/bootstrap-datepicker/bootstrap-datepicker3.min.css') %>
<%stylesheet('/css/chosen/chosen.min.css') %>
<%script('/js/plugins/summernote/summernote.min.js') %>
<%script('/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js') %>
<%script('/js/plugins/chosen/chosen.jquery.min.js') %>
<%stylesheet('/css/summernote/summernote.css') %>
<%stylesheet('/css/summernote/summernote-bs3.css') %>

<script>
    var content_id = '<%if(typeof contentID != "undefined"){%><%=contentID%><%}else{%><%-'default'%><%}%>';
    var content_title = '<%if(typeof contentTitle != "undefined"){%><%-contentTitle%><%}%>';
    var tags =  "<%if(typeof tags != "undefined"){%><%=tags%><%}%>";
    var datePublish = "<%if(typeof datePublish != "undefined"){%><%=datePublish%><%}%>";
    var content =  '<%if(typeof content != "undefined"){%><%-content%><%}%>';
    var picture = "<%if(typeof picture != "undefined"){%><%=picture%><%}%>";

    function updateSelectedElement(strValue,elementID){
      var str_array = strValue.split(',');

      for (var i = 0; i < str_array.length; i++) {
          str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
      }

      $(elementID).val(str_array).trigger("chosen:updated");
    }

    function addAPI(API_URL,args,cb){
        if(args['id']){
          $.put(API_URL,args,function(data){
              if(data.success){
                  toastr["success"](data.message);
                  cb(null,data);
              }
              else{
                  toastr["error"](data.message);
                  cb(data.message);
              }
          });
        }else{
          $.post(API_URL,args,function(data){
              if(data.success){
                  toastr["success"](data.message);
                  cb(null,data);
              }
              else{
                  toastr["error"](data.message);
                  cb(data.message);
              }

          });

        }

    }

    function getList(API_URL,$args,cb){
        $.get(API_URL,$args).done(function( data ) {
                if(data.success === false){
                    //alert(data.error);
                    //toastr["error"](data.message);
                    cb(data.error);
                }else{
                    cb(null,data.data);
                }
            }).fail(function() {
                cb("GET LIST ERROR");
          });
    }

    function renderTags(){
      getList("/admin/api/tag",{
        limit : "none"
      },function(err,data){
          if(err){
            toastr["error"](data.message);
          }else{
            //render
            var strRender = "";
            for(var i=0;i<data.length;i++){
                var tag = data[i].title || "";
                strRender += "<option value='"+tag+"'>"+tag+"</option>";
            }
            $("#tag-choice").append(strRender);
          }
          $(".chosen-select").chosen();

          if(tags!=""){
            //update tags
            updateSelectedElement(tags,"#tag-choice");
          }

      });

    }

    $(document).ready(function() {
      $("#uploader-area").hide();
      renderTags();
      //UPDATE TITLE
      if(content_title!="")
        $("input[name='title']").val(content_title);



      $("#input-tags-area").hide();

      $('.input-group.date').datepicker({
          format: "dd/mm/yyyy",
          todayHighlight: true
      });

      $('.input-group.date').datepicker('setDate', new Date());

      if(datePublish!=""){
        var $datepicker = $('.input-group.date');
        //console.log('date datePublish',datePublish);
        var dateBuff =  new Date(datePublish*1000);
        var dateStr =  dateBuff.getDate() + '/' + (dateBuff.getMonth() + 1) + '/' +  dateBuff.getFullYear();
        //console.log('date',dateStr);
        $datepicker.datepicker('setDate',dateStr);
      }

      $("#add-new-tag").on("click",function(){
          $("#input-tags-area").toggle();
          $(this).hide();
      });

      $("#cancel-add-tag").on("click",function(){
          $("#input-tags-area").hide();
          $("#add-new-tag").show();
      });

      //save tag
      $("#save-tag").on("click",function(){
          var tagTxt = $("#add-tag-txt").val();
          if(!tagTxt){
            $("#add-tag-txt").addClass("error");
            return;
          }else{
            $("#add-tag-txt").removeClass("error");
          }
          var args = {};
          args.title = tagTxt;
          $("#input-tags-area").hide();
          $("#add-new-tag").show();
          addAPI("/admin/api/tag",args,function(err,data){
              var strRender = "<option value='"+tagTxt+"'>"+tagTxt+"</option>";
              $("#tag-choice").append(strRender);
              $("#tag-choice").trigger("chosen:updated");
          });
      });

      //save content
      $("#btn-save-new").on("click",function(){
        var content = $('#content-area').summernote('code');
        var title = $("input[name='title']").val();
        var tags = $("#tag-choice").val();
        var publishDate =  $("input[name=publishDate]").datepicker('getDate');
        //console.log("publishDate",publishDate);
        //console.log("publishDate",publishDate.getTime());
        var timestamp = publishDate.getTime()/1000;
        if(title){
          if(tags)
            tags = tags.join(",");
          var postData = {
            title: title,
            content: content,
            datePublish: timestamp,
            tags: tags
          };
          if(content_id!="default")
            postData.id = content_id;

          addAPI("/admin/api/content",postData,function(error,res){
              if(!error&&res.success){

                //update id into hidden field
                $("input[name='id']").val(res.id);
                if(res.id && content_id=="default"){
                  content_id = res.id;
                  window.location.href= window.location.href+"/"+content_id;
                }
                //show upload Picture
              }else{
                toastr["error"](res.message);
              }

          });

        }else{
          toastr["error"]("Invalid data");

        }
      });

    });

</script>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Add new page</h5>
                <div class="ibox-tools">

                </div>
            </div>
             <div class="ibox-content form-horizontal">
                        <div class="form-group"><label class="col-lg-2 control-label">Title</label>

                            <div class="col-sm-8"><input name="id" type="hidden" class="form-control"> <input name="title" type="text" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Tags</label>
                            <div class="col-sm-6">
                              <select name="tags" id="tag-choice" data-placeholder="Select Tags" style="width:550px;" multiple class="chosen-select">
                              </select>

                            </div>
                            <div class="col-sm-4">
                              <span id="input-tags-area"><input id="add-tag-txt" type="text" /> <button id="save-tag" class="btn btn-circle btn-primary"><i class="fa fa-check"></i></button>  <button id="cancel-add-tag" class="btn btn-circle btn-danger"><i class="fa fa-times"></i></button></span>
                              <button id="add-new-tag" class="btn btn-success"><i class="fa fa-plus"></i></button></div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-lg-2 control-label">Publish Date</label>
                            <div class="col-lg-2">
                              <div class="input-group date">
                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="publishDate" type="text" class="form-control" data-date-format="dd/mm/yyyy">
                              </div>

                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-lg-2 control-label">Content</label>
                        <div class="col-lg-10">
                            <div>
                                      <div id="content-area" style="height: 300px;">
                                      </div>
                                      <script>
                                        $(document).ready(function() {
                                            $('#content-area').summernote({
                                               height: "300px"
                                            });
                                            if(content!=""){
                                              $("#content-area").summernote("code",content);
                                            }
                                        });
                                      </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="submit">Cancel</button>
                                <button id="btn-save-new" class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>

                </div>


                 <div id="uploader-area" class="ibox-content form-horizontal" style="display:none;">
                   <% include ./upload %>
                 </div>


                    </div>
                </div>
            </div>
