
<%if(typeof banners !="undefined"){%>

<script type="text/javascript">
	$( document ).ready(function( $ ) {
		$( '#main-slider' ).sliderPro({
			width: 670,
			height: 500,
			orientation: 'vertical',
			loop: false,
			arrows: true,
			buttons: false,
			thumbnailsPosition: 'right',
			thumbnailPointer: true,
			thumbnailWidth: 290,
			breakpoints: {
				800: {
					thumbnailsPosition: 'bottom',
					thumbnailWidth: 270,
					thumbnailHeight: 100
				},
				500: {
					thumbnailsPosition: 'bottom',
					thumbnailWidth: 120,
					thumbnailHeight: 50
				}
			}
		});
	});
</script>

<section class="home-slider">

<div id="main-slider" class="slider-pro">
		<div class="sp-slides">
			<%for(var o=0;o<banners.length;o++){%>
				<div class="sp-slide">
					<a href="/content/<%-banners[o].alias%>"><img class="sp-image" src="img/blank.gif" data-src="/uploads/<%-banners[o].id%>/banner.jpg" data-retina="/uploads/<%-banners[o].id%>/banner.jpg"/></a>
					<div class="sp-caption">
					<h2><%-banners[o].title%></h2>
					<p><%-(banners[o].content.length>0)?banners[o].content.split(" ", 20).join(" ")+"":''%></p>
					</div>
				</div>
			<%}%>
		</div>

		<div class="sp-thumbnails">

			<%for(var o=0;o<banners.length;o++){%>
				<div class="sp-thumbnail">
					<div class="sp-thumbnail-image-container">
						<img class="sp-thumbnail-image" src="/uploads/<%-banners[o].id%>/small/banner.jpg"/>
					</div>
					<div class="sp-thumbnail-text">
						<div class="sp-thumbnail-title"><%-banners[o].title%></div>
						<div class="sp-thumbnail-description"><%-(banners[o].content.length>0)?banners[o].content.split(" ", 10).join(" ")+"":''%></div>
					</div>
				</div>
			<%}%>


		</div>


</div>



</section>

<%}else{%>
  <div style="margin-top:40px;float:left;height:40px;width:100%;"></div>
<%}%>
